<video poster="/assets/img/manWithPencil.jpg" autoplay loop>
  <source src="/assets/video/workingManWithMAC.webm" type="video/webm">
  <source src="/assets/video/workingManWithMAC.mp4" type="video/mp4">
</video>

<div class="logAndNav">
  <div class="logo">
    <span class="mjText">Mj</span><span class="wText">W</span><span class="eText">e</span>b</div>
  <nav>
    <ul>
      <li class="home"><a href="#">home</a></li>
      <li class="aboutMe"><a href="#">about me</a></li>
      <li class="contact"><a href="#">contact</a></li>
    </ul>
  </nav>
  
</div>

<div class="mainText">
  <h1>Mateusz Just</h1>
  <p>graphic designer // software developer</p>
</div>